/* This is not the most responsive website I've ever built, thats for sure! :( */

/* Set border box and font-family */
* {
  box-sizing: border-box;
  font-family: "Helvetica", "Arial Narrow", Arial, sans-serif;
}

/* Style overall elements within the page */
h1 {
  font-size: 4rem;
  background-color: #92cbcd;
  color: #31343d;
  padding-left: 5%;
}

img {
  width: 100%;
  height: 100%;
  border: 5px solid #92cbcd;
}

p {
  font-family: "Helvetica", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  word-spacing: 5px;
}

span {
  font-size: 250%;
}

.banner-text {
  display: inherit;
  background-color: #92cbcd;
  font-size: 250%;
  position: absolute;
  text-align: right;
  bottom: 10%;
  left: 75%;
  background-color: #92cbcd;
  color: #31343d;
}

h4 {
  display: inherit;
  background-color: #92cbcd;
  padding-bottom: 3%;
  font-size: 200%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Navigation bar styling */
.navigation a {
  color: #92cbcd;
  text-decoration: none;
  position: relative;
  border-bottom: 5px solid #92cbcd;
  padding: 0 10px 0;
  display: inline-block;
  line-height: 3rem;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #31343d;
  padding: 1% 0%;
}

.navigation {
  font-size: 1.75rem;
  color: #92cbcd;
  padding-right: 5%;
}

/* Adjusts spacing  */
.navigation li {
  display: inline;
  margin: 0.5rem;
}

.banner {
  background-color: #1b395d;
  width: 100%;
  height: 200px;
  position: relative;
}

.banner img {
  border-style: none;
}

/* Styling of the overall boxes */
.wrapper {
  margin: auto;
  width: 70%;
  padding-left: 10%;
}

/* Seperates the page into individual sections */
.block {
  margin: 5% 2%;
  border-left: 5px groove #1b395d;
  padding-left: 3%;
}

/* Changes the main project */
.big-project {
  padding: 1% 1% 1% 0.5%;
  position: relative;
}

/* Parent container of small projects */
.flex-projects {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
}

/* Changes individual project */
.small-project {
  height: 200px;
  margin: 5px;
  width: 97%;
  position: relative;
}

/* Changes text over the boxes */
.text-block {
  position: absolute;
  bottom: 10%;
  background-color: #92cbcd;
  color: #1b395d;
  padding: 2% 2%;
}

#contact-me {
  display: flex;
  justify-content: space-around;
  padding: 5% 5% 3% 5%;
}

#contact-me a {
  text-decoration: none;
  border-bottom: 5px groove #1b395d;
  color: black;
  line-height: 2rem;
  font-size: larger;
}
